[Unit]
Description=container exec terminal for openmediavault-cterm
After=network.target

[Service]
WorkingDirectory=/opt/omv_cterm
ExecStart=/usr/bin/python3 /opt/omv_cterm/omv_cterm.py
Environment="FLASK_APP=/opt/omv_cterm/omv_cterm.py"
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
